$color__background-navbar: rgb(118, 118, 167);
$nagivation-link-color-hover: rgb(189, 182, 182);

.navbar {
  background-color: $color__background-navbar;
  display: flex;
  align-items: center;

  .navlink__logo {
    padding-inline: min(2%, 1rem);
    padding-block: min(1%, 1em);
    figure {
      width: 90px;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    width: 80%;

    padding: min(2%, 20px);
  }

  li {
    // change style when link is actived
    .active {
      color: $nagivation-link-color-hover;
    }
  }
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.navlink__active {
  text-decoration: none;
  color: white;
}

.navlink__Notactive {
  text-decoration: none;
  color: rgb(87, 173, 190);
}
