// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

a:hover,
a:active,
a:focus {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

// ---------------------------------------------------------------------------

ul,
li,
p,
h1,
h2,
h3,
h4,
img,
figure,
article,
section,
main,
header,
nav,
footer,
a,
body,
html {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

// ---------------------------------------------------------------------------
* {
  font-size: 1rem;
}

body {
  background-color: $color__background-default;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.general_image {
  width: 100%;
  object-fit: cover;
}

label {
  white-space: nowrap;
}

input:not(input[type="checkbox"]) {
  height: 20px;
  width: 100%;

  border-radius: $border-radius-element-default;
  border: none;

  font-size: 1rem;
  font-weight: 400;

  &:focus {
    outline: 2px solid rgb(78, 78, 78);
  }

  padding-left: 10px;
}

.general_image {
  width: 100%;
  object-fit: cover;
}

.general_p-info-stack {
  font-size: 1rem;
  font-weight: 900;
  color: rgb(107, 107, 107);
  white-space: nowrap;
}
.general_span-info-stack {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(45, 36, 36);
}
