.client-unit__container {
  @include flex-modulable(row, space-between, null, 1rem);
  flex-wrap: wrap;

  margin-block: 12px;
  padding-block: 15px;
  padding-inline: 5%;

  background-color: $color_background-cards;
  border-radius: $border-radius-element-default;
  box-shadow: $box-shadow-element-default;

  width: min(95%, 50rem);

  div {
    @include flex-modulable(column, space-evenly, null, 1rem);

    p {
      span {
        font-size: 1rem;
        font-weight: 500;
        color: rgb(45, 36, 36);
      }
      font-size: 1rem;
      font-weight: 900;
      color: rgb(107, 107, 107);
    }
  }

  section {
    @include flex-modulable(column, space-evenly);
  }
}
