* {
  font-size: 1rem;
}

.homepage__temp {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-self: center;

  background-color: $color__background-default;

  div {
    padding-block-start: 25%;
    text-align: center;

    p {
      font-size: 2rem;
      font-weight: 900;
      color: rgb(141, 68, 68);
    }
  }
}
