.client__main-form-container-wrapper {
  @include flex-modulable(column, null, null, 1rem);

  border-radius: $border-radius-element-default;
  box-shadow: $box-shadow-element-default;
  background-color: rgb(217, 217, 217);
  padding-block: 15px;
  padding-inline: 30px;
  margin-block: 25px;
}

.client__main-form-container {
  @include flex-modulable(null, null, null, 1rem);
  flex-wrap: wrap;

  section {
    @include flex-modulable(column, null, null, 10px);
  }

  button {
    height: fit-content;
  }
}

.label-input {
  @include flex-modulable(null, space-between, null, 1rem);

  label {
    white-space: nowrap;
  }

  input {
    height: 20px;
    width: 55%px;

    border-radius: $border-radius-element-default;
    border: none;

    font-size: 1rem;
    font-weight: 800;

    &:focus {
      outline: 3px solid rgb(78, 78, 78);
    }

    padding-left: 10px;
  }
}

//

.client__main-form-edit {
  // @include flex-modulable(null, null, null);

  // button {
  //   height: fit-content;
  // }
}
