// GENERAL INPUT :

select {
  border: none;
  background: rgb(247, 247, 247);
  border-radius: 5px;
  padding-inline-start: 5px;

  //appearance: none;
}
// -----------------------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

// SECTION CONTAINING THE FORM
.input__main-container {
  display: grid;
  row-gap: 15px;

  border-radius: $border-radius-element-default;
  box-shadow: $box-shadow-element-default;
  background-color: rgb(217, 217, 217);
  padding-block: 15px;
  padding-inline: 30px;
  margin-block: 25px;

  width: min(95%, 60rem);
}

// FORM ELEMENT
.input__form-element {
  @include flex-modulable(null, center, null, 1rem);
  flex-wrap: wrap;

  // button container
  > div {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      width: min(5.5rem, 40%);
    }

    // MEDIA QUERY : DESKTOP =============================
    @media only screen and (min-width: 792px) {
      width: fit-content;
      button {
        width: fit-content;
      }
    }
  }
}

// SECTION CONTAINING ALL INPUT / LABEL
.input_wrapper {
  @include grid-column-repeat-auto(auto-fit, 240px, 1fr);
  @include grid-gap(1rem);
  width: 90%;

  // A DIV WITH X LABEL_INPUT INSIDE
  > div {
    display: grid;
    row-gap: 0.65rem;
  }
}

// DIV WITH LABEL AND INPUT INSIDE
.label-input {
  @include grid-column(0.7fr 1fr);
  justify-content: space-between;
}

// -----------------------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------
// BUTTON SECTION
.element-unit__section-button {
  @include flex-modulable(null, center, null, 1rem);
  width: 100%;
  button {
    width: min(5.5rem, 40%);
  }
}

.client-section-button-surcharge {
  // MEDIA QUERY : DESKTOP ==================================
  @media only screen and (min-width: 792px) {
    width: fit-content;
    button {
      width: fit-content;
    }
  }
}

.vehicle-section-button-surcharge {
  @media only screen and (min-width: 820px) {
    align-self: stretch;
    > * {
      margin-block: auto;
      height: 82.5px;
    }

    width: fit-content;
    button {
      width: fit-content;
    }
  }
}

// -----------------------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------
// IGNORE CONTAINER :
.client__edit-ignore_main-container {
  width: 100%;
}
.client-input_wrapper-width-edit {
  width: 83%;
  > div {
    > div {
      @include grid-column(0.4fr 1fr);
    }
  }
}
// ------------------------------------------------------------------
// ------------------------------------------------------------------

.vehicle__edit-ignore_main-container {
  width: 75%;
  .input__form-element {
    justify-content: space-between;
  }
}

.vehicle-input_wrapper-width-edit {
  @include grid-column-repeat-auto(auto-fit, 200px, 1fr);
  width: 80%;
}

// ------------------------------------------------------------------

.edition_mode {
  background-color: rgb(168, 149, 88);
  // background-color: rgb(142, 157, 139);
}
