.gestionlocation__container {
  border-radius: $border-radius-element-default;
  padding: 1rem;
  width: min(70rem, 95%);

  background-color: $color_background-cards;

  @include flex-modulable(null, center, null, 1rem);
  flex-wrap: wrap;
  gap: 1rem;
}

.gestionlocation_voiture {
  display: flex;
  gap: 1rem;
  background-color: rgb(168, 168, 168);
  border-radius: $border-radius-element-default;

  padding: 1rem;

  figure {
    width: 15rem;
  }

  section {
    @include flex-modulable(column, center, center, 1rem);
  }
}

.gestionlocation_date {
  @include flex-modulable(column, center, center, 1rem);
  padding: 1rem;
}

.gestionlocation_client {
  @include flex-modulable(column, center, null, 1rem);
  padding: 1rem;
  background-color: rgb(168, 168, 168);
  border-radius: $border-radius-element-default;
}
