.vehicle-unit-home__container {
  @include flex-modulable(column, null, center, 1rem);
  width: min(30rem, 95%);
  padding: 1.5rem;
  border-radius: $border-radius-element-default;

  background-color: $color_background-cards;

  figure {
    width: min(25rem, 90%);
    img {
      border-radius: $border-radius-element-default;
    }
  }
}

.vehicle-unit-home__information_container {
  width: 90%;
  @include flex-modulable(column, null, null, 1rem);

  button {
    align-self: center;
    width: 50%;
  }
}
