.Vehicle__unit-main-container {
  @include flex-modulable(null, space-between, center, 1rem);
  flex-wrap: wrap;

  margin-block: 20px;

  margin-block: 12px;
  padding-block: 15px;
  padding-inline: 5%;

  background-color: rgb(187, 187, 187);
  border-radius: $border-radius-element-default;
  box-shadow: $box-shadow-element-default;

  width: min(95%, 50rem);

  figure {
    width: 200px;
    img {
      border-radius: $border-radius-element-default;
    }
  }
}
